<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>石油加油站首页</title>
</head>
<body>

<ul>
<li>
<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx9a6126ebf70d7eb0&redirect_uri=http://www.ehuangpu.org/oauth2.php&response_type=code&scope=snsapi_userinfo&state=1#wechat_redirect">点击这里体验</a>
</li>
<li>
<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx3be6367203f983ac&redirect_uri=https%3A%2F%2Fmp.weixin.qq.com%2Fbizmall%2Fcardlandingpage%3Fbiz%3DMzU0NzE2NzY4MQ%3D%3D%26page_id%3D4%26scene%3D1&response_type=code&scope=snsapi_base#wechat_redirect">我的礼券</a>
</li>
<li>
<a>我的油卡</a>
</li>
<li>
<a href="http://www.myriadintl.com/cesi.php">附近网点</a>
</li>
<li>
<a>现金加油鼓励金</a>
</li>
<li>
<a>快速开票</a>
</li>

</ul>
</body>
</html>